body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.6s ease 0s;
	pointer-events: none;
	z-index: 149;
}
.popup-show body::after {
	opacity: 1;
}

.popup_show .popup__content {
	visibility: visible;
	transform: translateY(0);
	opacity: 1;
}

.popup {
	z-index: 150;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: toRem(20);
	transition: visibility 0.6s ease 0s;
	visibility: hidden;
	pointer-events: none;
	&.popup_show {
		visibility: visible;
		overflow: auto;
		pointer-events: all;
	}
	// .popup__wrapper
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100%;
		flex: 1 1 auto;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	// .popup__content
	&__content {
		position: relative;
		background-color: #fff;
		overflow: hidden;

		width: 100%;
		
		visibility: hidden;
		transform: translateY(5%);
		opacity: 0;
		transition: transform 0.6s ease 0s;
		border-radius: toRem(30);
		.store-popup & {
			max-width: toRem(1200);
		}
		.msg-popup & {
			max-width: toRem(497);
			background-color: #235C48;
		}
		.lock & {
			visibility: visible;
		}
	}
}


.store-popup {
	// .store-popup__store
	&__store {
		position: relative;
		padding: toRem(40) toRem(44); 
		display: flex;
		justify-content: center;
		min-height: toRem(435);
		@media (min-width:em(680.98)){
			align-items: center;
		}
		@media (min-width:$mobileSmall){
			padding: toRem(40) toRem(44);  
		}
		@media (max-width:$mobileSmall){
			padding: toRem(40) toRem(20);  
		}
	}
	// .store-popup__close
	&__close {
		position: absolute;
		z-index: 5;
		top: 25px;
		right: 25px;
		outline: none;
		@media (max-width:$mobileSmall){
			top: 15px;
			right: 15px;
		}
	}
	// .store-popup__list
	&__list {
		display: grid;
		column-gap: toRem(14);
		max-width: toRem(900);
		row-gap: toRem(20);
		@media (min-width:em(680.98)){
			grid-template-columns: repeat(4, 1fr);
		}
		@media (max-width: em(680.98)){
			grid-template-columns: repeat(3, 1fr);			  
			// row-gap: toRem(80);
		}
		@media (max-width:$mobileSmall){
			 row-gap: toRem(10);
			 grid-template-columns: repeat(2, 1fr); 
		}
	}
	// .store-popup__item
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		// @include adaptiveValue("row-gap", 48, 20);
		@media (min-width:$mobileSmall){
					row-gap: toRem(20);
					  
				}
				@media (max-width:$mobileSmall){
					  row-gap: toRem(10);
				}
	}
	// .store-popup__img
	&__img {
		flex: 1;
		display: flex;
    justify-content: center;
    align-items: center;
		img {
			max-width: 100%;
			width: 70%;
		}
	}
	// .store-popup__link
	&__link {
		padding: unset !important;
		max-width: toRem(169);
		height: toRem(48);
		font-size: toRem(19);
		display: flex;
		align-items: center;
		justify-content: center;
		@media (max-width:$mobileSmall){
			 height: toRem(40); 
		}
	}
	// .store-popup__bg
	&__bg {
		position: absolute;
		z-index: -1;
		img {
			height: auto;
		}
		// .store-popup__bg_01
		&_01 {
			top: 0;
			left: 0;
			img {
				@include adaptiveValue("width", 254, 120);
				transform: translate(-38%, -43%);
			}
		}
		// .store-popup__bg_02
		&_02 {
			bottom: 0;
			right: 0;
			img {
				@include adaptiveValue("width", 254, 120);
				transform: translate(27%, 55%);
			}
		}
	}
}

.msg-popup {
	// .msg-popup__msg
	&__msg {
		@include adaptiveValue("padding", 50, 20);
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	// .msg-popup__title
	&__title {
	}
	// .msg-popup__txt
	&__txt {
		text-align: center;
	}
	// .msg-popup__close
	&__close {
		max-width: toRem(143);
		@include adaptiveValue("font-size", 25, 16);
		text-transform: uppercase;
	}
}
