// --- HERO ----------------------------------------------
.hero {
  position: relative;
  z-index: 1;
  @include adaptiveValue("margin-bottom", 250, 150);
  // .hero__container
  &__container {
    display: grid;
    @media (min-width:$mobile){
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width:$mobile){
       grid-template-columns: 1fr; 
    }
  }
  // .hero__bg
  &__bg {
    position: relative;
  }
  // .hero__image
  &__image {
    position: absolute;
    left: 0;
    @include adaptiveValue("width", 1890, 1400,2,1920,1440);
    img {
      width: 100%;
    }
    @include adaptiveValue("width", 1400,595,3,1439,360);
    @media (min-width:em(1100.98)){
      transform: translateX(calc(-50% + 313px));
      top: 0;
    }
    @media (max-width: em(1100.98)) and (min-width: $mobile) {
      transform: translateX(calc(-60% + 313px));
    }
    @media (max-width:$mobile){
       top: toRem(-85); 
       left: 50%;
       transform: translateX(-50%);
    }
  }
  // .hero__img-big
  &__img-big {
    max-width: 100%;
    @media (min-width:$mobile){
      clip-path: ellipse(48% 88% at 34% 0);
    }
    @media (max-width:$mobile){
      clip-path: ellipse(71% 100% at 50% 0);
    }
  }
  // .hero__body
  &__body {
    position: relative;
    z-index: 2;
    @include adaptiveValue("margin-top", 195, 146,0,1920,1440);
    @include adaptiveValue("margin-top", 440, 230, 1, 768,320); 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
	// .hero__decor
	&__decor {
    @include adaptiveValue("width", 572, 354,2,1920,1200);
    @media (min-width:em(1200.98)){
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-37%, -30%);
      z-index: -1;
    }
    img {
      width: 100%;
      @media (min-width:em(1200.98)){
      }
    }
    @media (max-width: em(1200.98)){
        display: none;
    }
	}
  // .hero__decor-2
  &__decor-2 {
    .hero__prl {
      @media (max-width:$mobileSmall){
        width: 100%;
      }
    }
    @media (min-width:$mobileSmall){
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
      transform: translate(9%, 50%);
      max-width: toRem(600);
    }
    @media (max-width:$mobileSmall){
       display: none; 
    }
    img {
      @media (min-width:$mobileSmall){
        width: 200%;
      }
    }
  }
	// .hero__prl
	&__prl {
	}
  // .hero__logo
  &__logo {
    width: 100%;
    @include adaptiveValue("max-width", 257, 181);
    margin-bottom: toRem(37);
    position: relative;
    left: 10px;
  }
  // .hero__title
  &__title {
    @include adaptiveValue("margin-bottom", 32, 20);
  }
  // .hero__txt
  &__txt {
    @media (min-width:$mobileSmall){
      max-width: toRem(625);
    }
    &:not(:last-child) {
      margin-bottom: toRem(40);
    }
  }
  // .hero__txt-2
  &__txt-2 {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 40, 20);
    }
  }
  // .hero__button
  &__button {
  }
}

// --- BOX ----------------------------------------------
.box {
  @include adaptiveValue("margin-bottom", 175, 150,0,1920,1440);
  img {
    max-width: 100%;
  }
  // .box__container
  &__container {
  }
  // .box__title
  &__title {
    max-width: toRem(650);
    margin-left: auto;
    margin-right: auto;
    @include adaptiveValue("margin-bottom", 50, 30);
    @include adaptiveValue("left", -100, 0,2,1920,1300);
    @media (min-width:em(1300.98)){
      position: relative;
    }
  }
  // .box__body
  &__body {
      display: grid;
      @media (min-width:em(1200.98)){
        grid-template-columns: 25% 1fr 30%;
      }
      @media (max-width: em(1200.98)) and (min-width: $tablet){
          grid-template-columns: 30% 1fr 30%;
      }
      @media (max-width:$tablet) and (min-width: em(550.98)){
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: em(550.98)){
        grid-template-columns: 1fr;
      }
    }


  // .box__block-one
  &__block-one {
    position: relative;
    @media (max-width:$tablet) and (min-width: em(550.98)){
      grid-row-start: 2;
      grid-column-start: 1;
    }
    @media (max-width: em(550.98)){
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: toRem(30);
    }
  }
  // .box__block-two
  &__block-two {
    position: relative;
    @media (max-width:$tablet) and (min-width: em(550.98)){
      grid-column: 1/3;
    }
    @media (max-width:$tablet){
      margin-bottom: toRem(30);
      display: flex;
      flex-direction: column;
    }
    @media (max-width: em(550.98)){
     order: 1;   
    }
  }
  // .box__block-three
  &__block-three {
    position: relative;
    @media (max-width:$tablet) and (min-width: em(550.98)){
      grid-row-start: 2;
      grid-column-start: 2;
    }
    @media (max-width: em(550.98)){
        order: 3;
        height: toRem(230);
    }
  }
  

  // .box__lable-one
  &__lable-one {
    @media (min-width:em(550.98)){
      margin-right: 25px;
    }
    @media (max-width: em(550.98)){
        margin: 0 auto;
    }
  }
  // .box__lable-two
  &__lable-two {
    @media (min-width:$tablet){
      position: absolute !important;
      top: 0;
      left: 0;
    }
    @media (max-width:$tablet){
      margin-left: 15%;
    }
  }
  // .box__lable-three
  &__lable-three {
    @media (min-width:$tablet){
      position: absolute !important;
      bottom: 0;
      left: 0;
    }
    @media (max-width:$tablet){
      align-self: flex-end;
    }
  }
  // .box__lable-four
  &__lable-four {
    width: 100% !important;
  }
  

  // .box__images-one
  &__images-one {
    img {
      @media (max-width: em(550.98)){
        position: relative;
        left: 50%;
        top: 22px;
        transform: translateX(-34%) scale(1.3);
      }
    }
  }
  // .box__images-two
  &__images-two {
    position: absolute;
    top: 0;
    left: 0;
    @include adaptiveValue("width", 376, 280,2,1920,1440);
    @include adaptiveValue("width", 280, 193,3,1439,993);
    @include adaptiveValue("width", 300, 240,3,992,480);
    // 240
    @media (min-width:em(1300.98)){
      transform: translate(-59%, -15%);
    }
    @media (max-width: em(1300.98)) and (min-width: $tablet){
      transform: translate(-50%, -6%);
    }
    @media (max-width:$tablet){
      // width: 240px !important;
      transform: translate(-19%, -14%);
    }
    @media (max-width: em(650.98)){
      transform: translate(-35%, -14%);
    }
  }
  // .box__images-three
  &__images-three {
    width: 100%;
    @media (min-width:$tablet){
      position: absolute;
      top: 0;
      left: 0;
    }
    @media (max-width:$tablet){
      position: relative;
      display: flex;
      justify-content: center;
    }

    .images-three-one {
      @media (min-width:em(1200.98)){
        padding-right: 113px;
      }
    }
    .images-three-two {
      position: absolute;
      @include adaptiveValue("width", 309, 230,2,1920,1440);
      @include adaptiveValue("width", 230, 159,3,1439,993);
      @include adaptiveValue("width", 300, 140,1,992,300);
      @media (min-width:$tablet){
        bottom: 0;
        right: 0;
      }
      @media (max-width:$tablet){
        bottom: -6%;
        right: 3%;
      }
    }
  }
  // .box__images-four
  &__images-four {
    position: absolute;
    top: 0;
    right: 0;
    @include adaptiveValue("width", 440, 330,2,1920,1440);
    @include adaptiveValue("width", 330, 83,3,1439,360);
    @media (min-width:em(1200.98)){
      transform: translate(28%, -10%);
    }
    @media (max-width: em(1200.98)){
        transform: translate(22%, 0%);
    }
    @media (max-width: em(550.98)){
        // position: relative;
        width: toRem(260) !important;
        top: -5%;
        transform: translate(18%, 0%);
        // right: -20%;
    }
  }
    
  // .box__docor
  &__decor {
    position: absolute;
    inset: 0;
    z-index: -1;
    img {
      width: 150%;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @media (min-width:$mobileSmall){
        max-width: 130%;
      }
      @media (max-width:$mobileSmall){
        max-width: 150%;          
      }
    }
    // &::before {
    //   content:'';
    //   position: absolute;
    //   top: 50%;
    //   left: 50%;
    //   transform: translate(-50%, -50%);
    //   width: 100%;
    //   height: 100%;
    //   // border-radius: 607px;
    //   // background-color: #E9407A;
    //   // filter: blur(94.5px);
    //   background: url(img/box-bg.png);
    //   background-repeat: no-repeat;
    //   background-size: 100% 100%;
    // }
  }

  // .box__button
  &__button {
    margin: 0 auto;
    @include adaptiveValue("left", -100, 0,2,1920,1300);
    @media (min-width:em(1300.98)){
      position: relative;
    }
    &::before {
      display: none;
    }
  }
}

.lable-box {
  @include adaptiveValue("padding-top", 14, 7);
  @include adaptiveValue("padding-bottom", 14, 7);
  @include adaptiveValue("padding-left", 34, 30);
  @include adaptiveValue("padding-right", 34, 30);
  // padding: toRem(14) toRem(34);
  border-radius: toRem(200);
  border: 1px solid #FFF;
  box-shadow: 4px 10px 22px 0px rgba(0, 0, 0, 0.25);
  width: fit-content;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 15%;
    transform: translateY(-50%);
    @include adaptiveValue("width", 22, 14);
    @include adaptiveValue("height", 22, 14);
    border-radius: 50%;
    background-color: $pink;
  }
  // .lable-box__txt
  &__txt {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    line-height: 1.3;
    &.txt-lbl-1 {
      // font-size: 30px;
      @include adaptiveValue("font-size", 30, 24,2,1920,993);
      @include adaptiveValue("font-size", 24, 30,3,993,992);
    }
    &.txt-lbl-2 {
      @include adaptiveValue("font-size", 30, 19);
    }
    &.txt-lbl-3 {
      @include adaptiveValue("font-size", 30, 15);
      line-height: .9;
    }
    &.txt-lbl-4 {
      @include adaptiveValue("font-size", 30, 19);
      text-align: left;
      line-height: .9;
    }
  }
  // .lable-box__sub-txt
  &__sub-txt {
    position: absolute;
    left: toRem(34);
    &.txt-lbl-5 {
      @include adaptiveValue("font-size", 15, 12);
      font-weight: 300;
      text-align: left;
      line-height: .9;
    }
    br {
      @media (max-width: em(550.98)){
          display: none;
      }
    }
    @media (min-width:em(1200.98)){
      bottom: -60%;
    }
    @media (max-width:em(1200.98)){
        bottom: -115%
    }
    @media (max-width: em(550.98)){
        max-width: 40%;
        bottom: -80%;
    }
  }
}

// --- ABOUT ----------------------------------------------
.about {
  @include adaptiveValue("margin-bottom", 103, 150);
  // .about__container
  &__container {
    display: grid;
    gap: toRem(40);
    @media (min-width:$mobile){
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width:$mobile){
      grid-template-columns: 1fr;        
    }
  }
  // .about__body
  &__body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  // .about__bg
  &__bg {
    position: absolute;
    z-index: -1;
    top: -38%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    @media (min-width:em(1300.98)){
      transform: translate(-55%, -8%);
    }
    @media (max-width: em(1300.98)){
      transform: translate(-55%, -28%);
    }
    @media (max-width:$mobile){
      top: 0;
       transform: translate(-55%, -55%);
    }
    img {
      @media (min-width:$mobileSmall){
        width: 200%;
      }
      @media (max-width:$mobileSmall){
         width: 100%; 
      }
    }
  }
  // .about__img
  &__img {
    position: relative;
    // &::before {
    //   content:'';
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   @include adaptiveValue("width", 165, 148);
    //   @include adaptiveValue("height", 155, 148);
    //   background-color: #FFF;
    //   z-index: -1;
    //   filter: blur(65px);
    // }
    img {
      max-width: 100%;
    }
  }
	// .about__img-bg
	&__img-bg {
    position: absolute;
    top: 40%;
    left: 24%;
    transform: translate(-50%, -50%) scale(2);
    @include adaptiveValue("width", 165, 148);
    height: auto
	}
  // .about__title
  &__title {
    @include adaptiveValue("margin-bottom", 50, 30);
  }
  // .about__txt-main
  &__txt-main {
    @include adaptiveValue("margin-bottom", 50, 30);
    @media (min-width:em(1200.98)){
       width: 91%; 
    }
  }
  // .about__txt-main-2
  &__txt-main-2 {
    @media (min-width:em(1200.98)){
      width: 74%; 
    }
  }
  // .about__content
  &__content {
    position: relative;
  }
  // .about__bg-two
  &__bg-two {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    transform: translate(41%, -26%);
    @include adaptiveValue("width", 1884, 1400,2,1920,1440);
    @include adaptiveValue("width", 1400, 1036,3,1439,360);
    @media (max-width:$mobile) and (min-width:em(550.98)){
      left: 50%;
      transform: translate(-50%, -26%);
    }
    img {
      width: 100%;
    }
  }
  // .about__list
  &__list {
    position: relative;
    @include adaptiveValue("padding-left", 173, 130,2,1920,1440);
    @include adaptiveValue("padding-left", 130, 0,3,1439,1200);
    @include adaptiveValue("margin-top", 75, 60,0,1920,1440);
  }
  // .about__li
  &__li {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 30);
    }
    &:first-child,
    &:last-child {
      @include adaptiveValue("padding-left", 104, 60);
    }
  }
  // .about__num
  &__num {
    position: relative;
    @include adaptiveValue("left", 30, 20);
    width: fit-content;
    color: #000;
    font-weight: 600;
    @include adaptiveValue("margin-bottom", 31, 20);
    &::before {
      content:'';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include adaptiveValue("width", 61, 40);
      @include adaptiveValue("height", 61, 40);
      border-radius: 50%;
      background-color: #FFF;
      z-index: -1;
      filter: blur(11px);
    }
  }
  // .about__txt
  &__txt {
  }
}


// --- TEST ----------------------------------------------
.test {
  margin-bottom: toRem(195);
  // .test_pagination
  &_pagination {
  }
  // .test__container
  &__container {
  }
  // .test__items
  &__items {
    @include adaptiveValue("max-width", 1167, 875,2,1920,1440);
    @include adaptiveValue("max-width", 875, 600,1,1439,769);
    @include adaptiveValue("column-gap", 170, 127,2,1920,1440);
    @include adaptiveValue("column-gap", 127, 0,1,1439,769);
    @media (min-width:$mobile){
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: end;
      margin: 0 auto;
    }
    @media (max-width:$mobile){
       display: none; 
    }
  }
  // .test__item
  &__item {
    position: relative;
    height: fit-content;
    &::before {
      content:'';
      position: absolute;
      z-index: -1;
      top: 50%;
      @include adaptiveValue("width", 176, 150);
      @include adaptiveValue("height", 176, 150);
      // border-radius: 50%;
      background-color: $pink;
      filter: blur(60px);
      @media (max-width:$mobile) and (min-width:$mobileSmall){
          width: 300px !important;
          height: 300px !important;
      }
    }
    @media (max-width:$mobile){
       display: flex;
       justify-content: center; 
       text-align: center;
    }
    img {
      @media (min-width:$mobile){
        max-width: 100%;
      }
      @media (max-width:$mobile){
         max-width: 80%; 
      }
    }
    &.item-test-01 {
      &::before {
        @media (min-width:$mobile){
          transform: translate(10%, -10%);
        }
        @media (max-width:$mobile){
          left: 50%;
          transform: translate(-50%, -10%);
        }
      }
    }
    &.item-test-02 {
      &::before {
        @media (min-width:$mobile){
          transform: translate(10%, -10%);
        }
        @media (max-width:$mobile){
          left: 50%;
          transform: translate(-50%, -10%);
        }
      }
    }
    &.item-test-03 {
      &::before {
        left: 50%;
        transform: translate(-50%, -10%);
      }
      @media (min-width:$mobile){
        margin-bottom: toRem(78);
      }
    }
    &.item-test-04 {
      &::before {
        @media (min-width:$mobile){
         right: 0; 
         transform: translate(-10%, -10%);
       }
       @media (max-width:$mobile){
        left: 50%;
        transform: translate(-50%, -10%);
      }
      }
    }
    &.item-test-05 {
      &::before {
        @media (min-width:$mobile){
          right: 0;
          transform: translate(-10%, -10%);
        }
        @media (max-width:$mobile){
          left: 50%;
          transform: translate(-50%, -10%);
        }
      }
    }
  }
  // .test__title
  &__title {
    margin-bottom: toRem(40);
  }
  // .test__slider
  &__slider {
  }
  // .test__wrapper
  &__wrapper {
    display: grid;
    @media (min-width:em(1300.98)){
      grid-template-columns: 1fr 61% 1fr;
    }
    @media (max-width: em(1300.98)) and (min-width: $mobile) {
      grid-template-columns: 1fr 50% 1fr;
    }
    @media (max-width:$mobile){
       grid-template-columns: 1fr; 
    }
  }
  // .test__men-item
  &__men-item {
  }
  // .test__body
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  // .test__main
  &__main {
    @media (min-width:$mobile){
      max-width: 89%;
    }
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 40, 30);
    }
  }
  // .test__sum-main
  &__sum-main {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 40, 30);
    }
  }
  // .test__button
  &__button {
  }
}

.slider-test {
  @media (min-width:$mobile){
    display: none;
  }
  @media (max-width:$mobile){
     position: relative; 
     margin-bottom: toRem(40);
  }
  // .slider-test__wrapper
  &__wrapper {
  }
  // .slider-test__slide
  &__slide {
    &.slide-test-01 {
    }
    &.slide-test-02 {
    }
    &.slide-test-03 {
    }
    &.slide-test-04 {
    }
    &.slide-test-05 {
    }
  }
	// .slider-test__pagination
	&__pagination {
    @media (max-width:$mobile){
      display: flex;
      justify-content: center;
      margin-top: toRem(15);
    }
    .swiper-pagination-bullet {
      @media (max-width:$mobile){
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.2);
        transition: background-color .3s ease;
        &:not(:last-child) {
          margin-right: toRem(5);
        }
        &:first-child,
        &:last-child {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
      &.swiper-pagination-bullet-active {
        background-color: $pink !important;
      }
    }
	}
	// .slider-test__buttons
	&__buttons {
  }
  // .slider-test__btn-swiper
  &__btn-swiper {
    @media (max-width:$mobile){
      position: absolute;
      z-index: 2;
      top: 50%;
    }   
    &.swiper-button-prev {
      @media (max-width:$mobile){
        left: 0;
        transform: scale(-1);
      }
    }
    &.swiper-button-next {
      @media (max-width:$mobile){
        right: 0;
      }
    }
  }
}

// --- MAKING ----------------------------------------------
.making {
  @include adaptiveValue("margin-bottom", 60, 40);
  // .making__container
  &__container {
    position: relative;
  }
  // .making__bg
  &__bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    @include adaptiveValue("width", 797, 200);
    @media (min-width:$tablet){
      transform: translate(-57%, -14%);
    }
    @media (max-width:$tablet){
      transform: translate(-50%, -50%);
    }
    img {
      @media (min-width:$mobile){
        width: 200%;
      }
      @media (max-width:$mobile){
         width: 100%; 
      }
    }
  }
	// .making__body
	&__body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: toRem(140);
	}
  // .making__bg-02
  &__bg-02 {
    @media (min-width:$tablet){
      position: absolute;
      z-index: -1;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @media (max-width:$tablet){
      display: none;
    }
    img {
      @media (min-width:em(1200.98)){
        max-width: 120%;
      }
      @media (max-width: em(1200.98)) and (min-width: $tablet){
          max-width: 140%;
      }
      @media (max-width:$tablet){
        display: none;
      }
    }
  }
	// .making__bg-04
	&__bg-04 {
    display: none;
    @media (max-width:$tablet){
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
    }
    img {
      @media (max-width:$tablet){
        height: 110%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      @media (min-width:em(550.98)){
        max-width: 200%;
      }
      @media (max-width: em(550.98)){
          max-width: 300%;
          height: 125%;
      }
    }
    @media (min-width:$mobileSmall){
       transform: translate(-50%, -50%);
    }
    @media (max-width:$mobileSmall){
       transform: translate(-50%, -45%);
    }
	}
  // .making__logo
  &__logo {
    padding-left: toRem(10);
    margin-bottom: toRem(40);
    width: 100%;
    @include adaptiveValue("max-width", 260, 200);
    img {
      width: 100%;
    }
  }
  // .making__title
  &__title {
    margin-bottom: toRem(30);
  }
  // .making__txt-main
  &__txt-main {
    margin-bottom: toRem(70);
    @media (min-width:em(550.98)) {
      max-width: toRem(536);
    }
  }
  // .making__list
  &__list {
    @media (min-width: em(1200.983)){
      max-width: 55%;
    }
    @media (max-width: em(1200.98)) and (min-width: $mobile){
        max-width: 70%;
    }
  }
  // .making__item
  &__item {
    position: relative;
    border: 1px solid #FFF;
    @media (min-width:$tablet){
      border-radius: toRem(200);
      padding: 14px 60px;
      display: flex;
      align-items: center;
      column-gap: toRem(42);
    }
    @media (max-width:$tablet){
      border-radius: toRem(30);
      padding: toRem(50) toRem(20) toRem(80);
    }
    &:not(:last-child) {
      @media (min-width:$tablet){
        margin-bottom: toRem(14);
      }
      @media (max-width:$tablet){
        margin-bottom: toRem(130);
      }
    }
    @media (min-width:$tablet){
      &:nth-child(2n) {
        flex-direction: row-reverse;
      }
    }
  }
  // .making__mun
  &__mun {
    color: $pink;
    @media (min-width:$tablet){
      position: relative;
    }
    @media (max-width:$tablet){
        position: absolute;
        left: 50%;
        top: 0%;
        transform: translate(-50%, -50%);      
    }
    &::before {
      content:'';
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include adaptiveValue("width", 91, 60);
      @include adaptiveValue("height", 91, 60);
      border-radius: 50%;
      background-color: #fff;
      filter: blur(9px);
    }
  }
  // .making__txt
  &__txt {
    text-align: center;
  }
  // .making__img
  &__img {
    position: absolute;
    @include adaptiveValue("width", 142, 120);
    height: auto;
    @media (min-width:$tablet){
      top: 50%;
    }
    @media (max-width:$tablet){
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 50%);
    }
    &.img-making-01 {
      @media (min-width:$tablet){
        right: 0;
        transform: translate(70%, -50%);
      }
    }
    &.img-making-02 {
      @media (min-width:$tablet){
        left: 0;
        transform: translate(-70%, -50%);
      }
    }
    &.img-making-03 {
      @media (min-width:$tablet){
        right: 0;
        transform: translate(70%, -50%);
      }
    }
    &.img-making-04 {
      @media (min-width:$tablet){
        left: 0;
        transform: translate(-70%, -50%);
      }
      @media (max-width:$tablet){
        display: none;
      }
    }
    &.img-making-05 {
      @media (min-width:$tablet){
        right: 0;
        transform: translate(70%, -50%);
      }
    }
    &.img-making-06 {
      @media (min-width:$tablet){
        left: 0;
        transform: translate(-50%, -70%) scale(0.5);
      }
      @media (max-width:$tablet){
        display: none;
      }
    }
    &.img-making-07 {
      @media (min-width:$tablet){
        right: 0;
        transform: translate(70%, -50%);
      }
    }
  }
  // .making__video
  &__video {
    position: relative;
    text-align: center;
  }
	// .making__video-img
	&__video-img {
    max-width: 100%;
    margin: 0 auto;
	}
  // .making__bg-03
  &__bg-03 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    @include adaptiveValue("width", 800, 260);
    transform: translate(64%, -51%);
    img {
      width: 200%;
    }
  }
}



//======================================================
//---------------------
//================================
   // ====== TEST PAGE ----------------------------------------
//================================
//---------------------
//======================================================
.page-test {
  .page {
    display: flex;
    flex-direction: column;
  }
}
.test-page {
  flex: 1;
  position: relative;
	// .test-page__blocks
	&__blocks {
    display: none;
    &.show-block {
      display: block;
    }
  }

  // .test-page__container
  &__container {
    @include adaptiveValue("margin-top", 180, 100,0,1920,769);
    @include adaptiveValue("margin-top", 80,50,3,768,360 );
  }
	// .test-page__bg-01
	&__bg-01 {
    @include adaptiveValue("width", 1900, 1400,0,1920,1440);
    @media (min-width:$mobile){
      position: absolute;
      z-index: -1;
      top: 0%;
      right: 0%;
      transform: translate(43%, -77%);
      height: auto;
    }
    @media (max-width:$mobile){
      display: none;        
    }
	}
	// .test-page__bg-02
	&__bg-02 {
    @include adaptiveValue("width", 1900, 1400,0,1920,1440);
    @media (min-width:$mobile){
      position: absolute;
      z-index: -1;
      bottom: 0%;
      left: 0%;
      transform: translate(-39%, 87%);
      height: auto;
    }
    @media (max-width:$mobile){
      display: none;        
    }
	}
  // .test-page__form
  &__form {
    position: relative;
  }
    // .test-page__blocks
  &__blocks {
    position: relative;
    margin-bottom: toRem(50);
    display: none;
  }
  // .test-page__block
  &__block {
    display: none;
    flex-direction: column;
    align-items: center;
    &.active {
      display: flex;
    }

      // .test-page__block_01
      &_01 {
      }
  }
  // .test-page__count
  &__count {
    position: relative;
    width: fit-content;
    @include adaptiveValue("margin-bottom", 54, 50);
    svg {
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      @media (min-width:$mobileSmall){
        transform: translate(-50%, -50%);
      }
      @media (max-width:$mobileSmall){
        transform: translate(-50%, -50%) scale(.8);
      }
    }
  }
  // .test-page__count-txt
  &__count-txt {
    font-weight: 600 !important;
  }
  // .test-page__title
  &__title {
    text-align: center;
    @include adaptiveValue("font-size", 35, 20);
    font-style: normal;
    font-weight: 600;
    line-height: 1.3;
    text-transform: uppercase;
    @include adaptiveValue("margin-bottom", 30, 20);
    max-width: toRem(800);
    .test-page__block_02 & {
      max-width: toRem(992);
    }
  }
  // .test-page__options
  &__options {
    @include adaptiveValue("margin-bottom", 50, 20);
  }
	// .test-page__button
	&__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: unset !important;
    @include adaptiveValue("font-size", 40, 20);
    @include adaptiveValue("min-height", 98, 60);
    @media (min-width:$mobileSmall){
      max-width: toRem(240);
    }
	}
  // .test-page__result
	&__result {
	}
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  // .options__item
  &__item {
    &:not(:last-child) {
      margin-bottom: toRem(10);
    }
    @media (max-width:$mobileSmall){
       width: 100%; 
    }
  }
  // .options__input
  &__input {
    display: none;
  }
  // .options__label
  &__label {
    display: flex;
    align-items: center;
    gap: toRem(10);
    border: 1px solid #FFF;
    background-color: $green;
    transition: background-color .3s ease;
    cursor: pointer;
    @include adaptiveValue("padding", 12, 10);
    @media (min-width:$mobile){
      border-radius: toRem(50);
    }
    @media (max-width:$mobile){
      border-radius: toRem(30);        
    }
    @media (min-width:$mobileSmall){
      width: fit-content;
    }
  }
  // .options__label-letter
  &__label-letter {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: toRem(1) solid #fff;
    position: relative;
    transition: color .3s ease, background-color .3s ease, border .3s ease;
    
    @media (min-width:$mobile){
      width: toRem(32); 
      height: toRem(32); 
      padding-bottom: 8px;
    }
    @media (max-width:$mobile){
       width: toRem(40); 
       height: toRem(40); 
        padding-bottom: 6px;
    }
  }
  // .options__label-txt
  &__label-txt {
    display: inline-block;
    transition: color .3s ease;

    @include adaptiveValue("font-size", 30, 15);
    font-style: normal;
    font-weight: 400;
  }
}

.options__input:checked + .options__label {
  background-color: #fff;

  .options__label-letter {
    color: #fff;
    background-color: $pink;
    border-color: $pink;
  }
  .options__label-txt {
    color: $green;
  }
}

		
.result-test {
  display: none;
  margin-bottom: toRem(60);
  &.show-block-result {
    display: block;
  }
		// .result-test__title
		&__title {
      width: fit-content;
      text-align: left;
      position: relative;
      margin-bottom: toRem(40);
      @include adaptiveValue("margin-left", 66, 0,2,1920,769);
      @media (max-width:$mobile){
        margin-left: auto;
        margin-right: auto;
        text-transform: uppercase;
      }
		}
		// .result-test__img-title
		&__img-title {
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
		}
		// .result-test__body
		&__body {
      display: grid;
      @media (min-width:em(1200.98)){
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: em(1200.98)){
          row-gap: toRem(135);
      }
		}
		// .result-test__main
		&__main {
      position: relative;
		}
    // .result-test__circle-bg
    &__circle-bg {
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 0;
      transform: translate(-48%, -50%);
      display: none;
      height: auto;
      @include adaptiveValue("width", 3000, 2300,0,1920,1440);
      // .result-test__circle-bg_01
      &_01 {
        .result-test__main_01 & {
          display: block
        }
      }
      // .result-test__circle-bg_02
      &_02 {
        .result-test__main_02 & {
          display: block
        }
      }
      // .result-test__circle-bg_03
      &_03 {
        .result-test__main_03 & {
          display: block
        }
      }
      // .result-test__circle-bg_04
      &_04 {
        .result-test__main_04 & {
          display: block
        }
      }
      // .result-test__circle-bg_05
      &_05 {
        .result-test__main_05 & {
          display: block
        }
      }
    }
    // .result-test__bg-img-02
    &__bg-img-02 {
      position: absolute;
      top: 0;
      left: 0;
      @include adaptiveValue("width", 192, 120);
      height: auto;
      @media (min-width:$mobileSmall){
        transform: translate(-78%, -39%);
      }
      @media (max-width:$mobileSmall){
        transform: translate(-56%, -75%);
      }
    }
		// .result-test__sub-title
		&__sub-title {
      @include adaptiveValue("font-size", 55, 30);
      font-style: normal;
      font-weight: 600;
      line-height: 130%;
      text-transform: uppercase;
      @include adaptiveValue("margin-left", 66, 0,2,1920,769);
      @include adaptiveValue("margin-bottom", 24, 20);
      position: relative;
      z-index: 1;
      @media (min-width:em(1440.98)){
        max-width: 80%;
      }
      @media (max-width:$mobile){
         text-align: center; 
      }
		}
    // .result-test__title-sub
    &__title-sub {
      display: none;
      // .result-test__title-sub_01
      &_01 {
        .result-test__main_01 & {
          display: block;
        }
      }
      // .result-test__title-sub_02
      &_02 {
        .result-test__main_02 & {
          display: block;
        }
      }
      // .result-test__title-sub_03
      &_03 {
        .result-test__main_03 & {
          display: block;
        }
      }
      // .result-test__title-sub_04
      &_04 {
        .result-test__main_04 & {
          display: block;
        }
      }
      // .result-test__title-sub_05
      &_05 {
        .result-test__main_05 & {
          display: block;
        }
      }
    }
		// .result-test__block
		&__block {
      background-color: #fff;
      @include adaptiveValue("padding", 30, 20);
      min-height: toRem(396);
      @include adaptiveValue("margin-bottom", 15, 10);
      @media (min-width:$mobile){
         border-radius: toRem(50); 
      }
      @media (max-width:$mobile){
          border-radius: toRem(30);
      }
		}
		// .result-test__head
		&__head {
      @media (min-width:$mobile){
        display: grid;
        grid-template-columns: 76% 1fr;
      }
      @media (max-width:$mobile){
         margin-bottom: toRem(20); 
      }
		}
		// .result-test__txt-head
		&__txt-head {
      color: $green;
      @include adaptiveValue("font-size", 40, 20);
      font-style: normal;
      font-weight: 500;
      @include adaptiveValue("padding-left", 36, 0,2,1920,769);
      margin-bottom: toRem(20);
    }
    // .result-test__head-txt
    &__head-txt {
      display: none;
      // .result-test__head-txt_01
      &_01 {
        .result-test__main_01 & {
          display: block;
        }
      }
      // .result-test__head-txt_02
      &_02 {
        .result-test__main_02 & {
          display: block;
        }
      }
      // .result-test__head-txt_03
      &_03 {
        .result-test__main_03 & {
          display: block;
        }
      }
      // .result-test__head-txt_04
      &_04 {
        .result-test__main_04 & {
          display: block;
        }
      }
      // .result-test__head-txt_05
      &_05 {
        .result-test__main_05 & {
          display: block;
        }
      }
    }
		// .result-test__image
		&__image {
      position: relative;
      @media (max-width:$mobile){
         display: flex;
         justify-content: flex-end; 
      }
      .result-test__img-tea {
        @media (min-width:$mobile){
          width: toRem(190);
          height: auto;
          position: absolute;
          bottom: 0;
          right: 0;
          transform: translate(0%, -23%);
        }
        @media (max-width:$mobile) and (min-width: $mobileSmall){
           width: 60%; 
           margin-left: 30%;
        }
        @media (max-width:$mobileSmall){
           width: 70%; 
           margin-left: 30%;
        }
      }
		}
    // .result-test__img-tea
    &__img-tea {
      display: none;
      // .result-test__img-tea_01
      &_01 {
        .result-test__main_01 & {
          display: block;
        }
      }
      // .result-test__img-tea_02
      &_02 {
         .result-test__main_02 & {
          display: block;
        }
      }
      // .result-test__img-tea_03
      &_03 {
         .result-test__main_03 & {
          display: block;
        }
      }
      // .result-test__img-tea_04
      &_04 {
         .result-test__main_04 & {
          display: block;
        }
      }
      // .result-test__img-tea_05
      &_05 {
         .result-test__main_05 & {
          display: block;
        }
      }
    }
    // .result-test__more
		&__more {
      @media (min-width:$mobile){
        display: grid;
        grid-template-columns: 1fr 57%;
      }
		}
		// .result-test__img-men
		&__img-men {
      @media (min-width:$mobile){
        position: relative;
      }
      @media (max-width:$mobile){
        position: absolute;
        inset: 0;          
      }
      .result-test__men-img {
        position: absolute;
        left: 0;
        @include adaptiveValue("width", 490, 400,0,1920,1440);
        height: auto;
        @media (min-width:em(1200.98)){
          transform: translate(-28%, -7%);
        }
        @media (min-width:$mobile){
          top: 0;
        }
        @media (max-width:$tablet) and (min-width: em(768.98)) {
          transform: translate(-20%, -7%);
        }
        @media (max-width:$mobile){
           width: 37% !important; 
           transform: translate(75%, 0%);
            bottom: 0;
        }
        @media (max-width: em(550.98)){
            transform: translate(50%, 0%);
        }
        @media (max-width:$mobileSmall){
          width: 50% !important;
          transform: translate(11%, 0%);
        }
      }
		}
    // .result-test__men-img
    &__men-img {
      display: none;
      // .result-test__men-img_01
      &_01 {
         .result-test__main_01 & {
          display: block;
        }
      }
      // .result-test__men-img_02
      &_02 {
         .result-test__main_02 & {
          display: block;
        }
      }
      // .result-test__men-img_03
      &_03 {
         .result-test__main_03 & {
          display: block;
        }
      }
      // .result-test__men-img_04
      &_04 {
         .result-test__main_04 & {
          display: block;
        }
      }
      // .result-test__men-img_05
      &_05 {
         .result-test__main_05 & {
          display: block;
        }
      }
    }
		// .result-test__more-txt
		&__more-txt {
      color: $green;
      @include adaptiveValue("font-size", 20, 16);
      font-style: italic;
      font-weight: 500;
      line-height: 1.3;
		}
    // .result-test__txt-more
    &__txt-more {
      display: none;
      // .result-test__txt-more_01
      &_01 {
         .result-test__main_01 & {
          display: block;
        }
      }
      // .result-test__txt-more_02
      &_02 {
         .result-test__main_02 & {
          display: block;
        }
      }
      // .result-test__txt-more_03
      &_03 {
         .result-test__main_03 & {
          display: block;
        }
      }
      // .result-test__txt-more_04
      &_04 {
         .result-test__main_04 & {
          display: block;
        }
      }
      // .result-test__txt-more_05
      &_05 {
         .result-test__main_05 & {
          display: block;
        }
      }
    }
		// .result-test__footer
		&__footer {
      padding: toRem(20);
      display: flex;
      justify-content: end;
      .result-test__main_01 & {
        background-color: #D2DF7B;
      }
      .result-test__main_02 & {
        background-color: #699238;
      }
      .result-test__main_03 & {
        background-color: #A17AC6;
      }
      .result-test__main_04 & {
        background-color: #D4A146;
      }
      .result-test__main_05 & {
        background-color: #C00A2B;
      }
      @media (min-width:$mobile){
        min-height: toRem(153);
        border-radius: toRem(50); 
     }
     @media (max-width:$mobile){
         border-radius: toRem(30);
     }
		}
		// .result-test__txt-footer
		&__txt-footer {
      font-size: toRem(16);
      font-style: normal;
      font-weight: 500;
      line-height: 1.1;
      @media (min-width:$mobile){
        max-width: 57%;
      }
      .result-test__main_01 & {
        color: $green;
      }
		}
    // .result-test__footer-txt
    &__footer-txt {
      display: none;
      // .result-test__footer-txt_01
      &_01 {
        .result-test__main_01 & {
          display: block;
        }
      }
      // .result-test__footer-txt_02
      &_02 {
        .result-test__main_02 & {
          display: block;
        }
      }
      // .result-test__footer-txt_03
      &_03 {
        .result-test__main_03 & {
          display: block;
        }
      }
      // .result-test__footer-txt_04
      &_04 {
        .result-test__main_04 & {
          display: block;
        }
      }
      // .result-test__footer-txt_05
      &_05 {
        .result-test__main_05 & {
          display: block;
        }
      }
    }
		// .result-test__form
		&__form {
		}
}

.form-result {
  display: flex;
  justify-content: center;
  position: relative;
  @media (min-width:em(1200.98)){
    padding-left: toRem(30);
    margin-top: toRem(70); 
  }
  @media (max-width: em(1200.98)){
      margin-bottom: toRem(200);
  }
  @media (max-width: $mobileSmall){
    margin-bottom: toRem(150);
  }
  // .form-result__body
  &__body {
    position: relative;
      max-width: toRem(497);
      height: fit-content;
      border-radius: toRem(30);
      background: #235C48;
      box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.15);
      @include adaptiveValue("padding", 50, 20);
		}
    // .form-result__img-bg-1
    &__img-bg-1 {
      position: absolute;
      top: 0;
      left: 0;
      @include adaptiveValue("width", 197, 100);
      height: auto;
      @media (min-width:$mobile){
        transform: translate(-40%, -60%);
      }
      @media (max-width:$mobile){
        transform: translate(-10%, -85%);        
      }
    }
    // .form-result__img-bg-2
    &__img-bg-2 {
     position: absolute;
     z-index: 1;
     bottom: 0;
     right: 0;
     @include adaptiveValue("width", 740, 400);
     @media (min-width:$mobile){
        transform: translate(55%, 77%);
      }
      @media (max-width:$mobile){
        transform: translate(9%, 100%);          
      }
      @media (max-width:$mobileSmall){
          transform: translate(18%, 100%);
      }
    }
		// .form-result__title
		&__title {
      @include adaptiveValue("font-size", 30, 18);
      font-style: normal;
      font-weight: 600;
      line-height: 1.1;
      text-transform: uppercase;
      @include adaptiveValue("margin-bottom", 34, 20);
		}
		// .form-result__txt
		&__txt {
      margin-bottom: toRem(20);
      @include adaptiveValue("font-size", 25, 16);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
		// .form-result__input
		&__input {
      @include adaptiveValue("margin-bottom", 40, 10);
		}
		// .form-result__submit
		&__submit {
      text-align: center;
      @include adaptiveValue("font-size", 25, 16);
      font-style: normal;
      font-weight: 600;
      line-height: 1.3;
      text-transform: uppercase;
		}
}
